html{
	background-color: #333333;
}
body{
	/*background-color: #2b2b2b;*/
}
img{
	width: 20%;
	margin-bottom: 20px;
}
input {
	color: black;
}
#sideBar{
	width: 1%;
	height: 40%;
	position:fixed;
	background-color: #3399cc;
	float: left;
	color: white;
	opacity: 0.2;
	border-radius: 4px;
	padding: 10px 10px 10px 10px;
	margin-top: 0%;
	margin-left: 99%;
	overflow: hidden;
}

#sideBar:hover{
	width:  15%;
	opacity: 0.5;
	margin-left: 85%;
	background-color: #333333;
}

#sideBar .inner{
	padding: 5px 5px 5px 5px; 
	list-style-type: none;
	padding-left: 20px;
	font-size: 20px;
	opacity: 1; 
	margin-top:5px;
	margin-bottom:5px; 
	border-radius: 2px;
	background-color: #3399cc;
}
#sideBar h1{
	color: #3399cc;
}

#chatBar{
	width: 1%;
	background-color: #3399cc;
	height: 90%;
	position:fixed;
	float: left;
	color: white;
	opacity: 0.2;
	border-radius: 4px;
	padding: 10px 10px 10px 10px;
	margin-top: 0%;
	overflow: hidden;

}
.color-wrapper{
	opacity: .5;
}
.color-wrapper:hover{
	opacity: 1;
}

#chatBar:hover{
	width:  15%;
	opacity: 0.5;
	visibility: visible;
	background-color: #333333;
}

/*like bar*/
#likeBar{
	height: 50px;
	position:fixed;
	width:  50px;
	background-color: #333333;
	float: right;
	color: white;
	opacity: 0.5;
	margin-left: 75%;
	margin-top: 48%;
	text-align: center;
	border-radius: 4px;
	padding-top: 15px;
}
#likeBar p{
	font-size: 20px; 
}

#likeBar:hover{
	opacity: 1;
}

/*dislike bar*/
#dislikeBar{
	height: 50px;
	position:fixed;
	width: 50px;
	background-color: #333333;
	float: right;
	color: white;
	opacity: 0.5;
	margin-left: 80%;
	margin-top: 48%;
	text-align: center;
	border-radius: 4px;
	padding-top: 15px;
}
#dislikeBar p{
	font-size: 20px; 
}

#dislikeBar:hover{
	opacity: 1;
}

/*right bar*/
#rightBar{
	height: 40%;
	position:fixed;
	width: 1%;
	background-color: #3399cc;

	float: right;
	color: white;
	opacity: 0.2;
	margin-left: 99%;
	margin-top: 28%;
	text-align: center;
	border-radius: 2px;
	padding: 5px 5px 5px 5px;
	overflow: hidden;
}

#rightBar p{
	margin-top: 10px;
	font-size: 20px;
}
#rightBar .inner{
	padding: 5px 5px 5px 5px;
	margin-top:5px;
	margin-bottom:5px; 
	opacity: 0.5;
	border-radius: 2px;
	background-color: #3399cc;
	text-align: left;
}

#rightBar:hover{
	opacity: 0.75;
	width:10%;
	margin-left: 90%;
	background-color: #333333;
}
#rightBar button{
	margin-top: 20px;
}

#modal{
	background-color: #333333;
	opacity: 0.75;
	position: fixed;
	margin-left: 40%;
	height:300px;
	width:350px;
	border-radius: 4px;
	text-align: center;
	color: white;
	padding: 10px 10px 10px 10px;
}
#modal p{
	font-size: 20px;
}

#model input{
	margin-top: 20px;
}


#video{
	float: right;
	width:100%;
}
.topNav{
	height: 40px;
	width: 100%;
	background-color: #333333;
}

.loginMenu{

}
input{
	color:black;
}

/*overwrite bootstrap things*/
.jumbotron{
	background-color: #333333;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
}
.modal-content{
	padding:20px 20px 20px 20px;
	color: black;
}

.chatMessage{
	overflow-y: scroll;
	display:block;
    word-wrap:break-word;
}
.chatMessage .italic{
	font-style: italic;
}
.chatMessage .name{
	color: red;
}
