<!DOCTYPE html>
<html>
<head >
    <link rel="stylesheet" href="css/channel.css">
</head>
<body >

    <div class="jumbotron">
         <img src="data/channel42.png">
    </div>

    <div id="sideBar">
        <h1>Other Channels</h1>
        
          <div ng-repeat="channel in userData.Channels track by $index">
            <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
            {{channel}}
          </div>
        
    </div>

    <div id="rightBar">
        <p>Up Next:</p>
          <div ng-repeat="video in userData.NextVideos track by $index">
            <span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
            {{video}}
          </div>    
       <button ng-click="toggleModal()" type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-sm">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </div>

    <div id="chatBar">
        <h1>Chat</h1>
        <input data-ng-model="inputText" type="text">
        <button ng-click="submitMessage()" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
         <div class="chatMessage" ng-repeat="message in messages">
        <span class="name"> {{message.submitter}}:</span>
        <span class="italic">{{message.text}}</span>
        </div>
    </div>

    <!--
    <div id="modal" style="{{hideModal}}">
        <p>test: </p><input type="text">
        <button ng-click="addVideo()" type="button" class="btn btn-default">add video</button>
        <button ng-click="toggleModal()" type="button" class="btn btn-default">exit</button>
    </div>-->

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <p>test: </p><input type="text">
            <button ng-click="addVideo()" type="button" class="btn btn-default">add video</button>
        </div>
      </div>
    </div>

    <div id="likeBar" ng-click="clickLike()"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></div>
    <div id="dislikeBar" ng-click="clickDislike()"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></div>

    
      <div id="video" style="{{videoHeight}}">
          <iframe id="Video" width="{{videoWidth}}" height="{{videoHeight}}" align="right"src="https://www.youtube.com/embed/XJfGnqKoXYY" frameborder="0" allowfullscreen></iframe>
      </div>

    <!-- // <script src="js/channel.js"></script> -->
</body>
</html>
