<!DOCTYPE html>
<html>
<head >
    <link rel="stylesheet" href="css/channel.css">
</head>
<body >  
    <div id="sideBar">
      
          <h1>Other Channels</h1>
          <div class="inner" ng-repeat="channel in Channels track by $index">
            <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
            {{channel}}
          </div>
      
    </div>

    <div id="rightBar">
      <div class= "color-wrapper">
      <h1>Up Next:</h1>         
          <div class="inner" ng-repeat="video in userData.NextVideos track by $index">
            <span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
            {{video}}
          </div>
          <button ng-click="toggleModal()" type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-sm">
            Add <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      </div>
    </div>

    <div id="chatBar">
      <h1>Chat</h1> 
      <div class="color-wrapper">     
        <input data-ng-model="inputText" type="text">
        <button ng-click="submitMessage()" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
         <div class="chatMessage" ng-repeat="message in messages">
        <span class="name"> {{message.submitter}}:</span>
        <span class="italic">{{message.text}}</span>
        </div>
       </div>  
    </div>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <p>Enter in a YouTube link</p>       
            <input data-ng-model="inputVideoURL" type="text">
            <button ng-click="addVideo()" type="button" class="btn btn-default">add video</button>
        </div>
      </div>
    </div>

    <div id="likeBar" ng-click="clickLike()"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></div>
    <div id="dislikeBar" ng-click="clickDislike()"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></div>

    <div id="video" style="pointer-events:none;">
        <youtube-player video-url="youtubeUrl" player-vars="youtubeVars" player-height="videoHeight" player-width="videoWidth"></youtube-player>
    </div>
</body>
</html>
