    <link rel="stylesheet" href="css/main.css">

    <div class="jumbotron">
         <img src="data/channel42.png">
    </div>
    <div id="sideBar" style="{{showSideBar}}">
        <h4> My Channels </h4>
        
            <div ng-repeat="channel in userData.MyChannels track by $index">
              <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> {{channel}}
            </div>
        
        <h4> Recommended </h4>
        
            <div ng-repeat="channel in userData.Channels track by $index">
              <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> {{channel}}
            </div>
        
    </div>

    <div style="{{channelStyle}}" id="Content">
      <div class="container">
      <div class="col-sm-4 squarePad" data-ng-repeat="channel in Channels track by $index">
        <div class="square"><h3>{{channel.title}}</h3></div>
        http://img.youtube.com/vi/{{channel.youtubeID}}/0.jpg
        <img src="http://img.youtube.com/vi/{{channel.youtubeID}}/0.jpg">
      </div>
    </div>
    </div>