    <link rel="stylesheet" href="css/main.css">

    
    <div id="sideBar" style="{{showSideBar}}">
        <h4> My Channels </h4>
        
            <div ng-repeat="channel in userData.MyChannels track by $index">
              <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> {{channel}}
            </div>    
        <h4> Recommended </h4>
            <div ng-repeat="channel in userData.Channels track by $index">
              <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> {{channel}}
            </div>
    </div>

    <div style="{{channelStyle}}" id="Content">
      <div class="row">
      <div class="col-sm-4 squarePad" data-ng-repeat="channel in Channels track by $index">
        <a href="#/channel"><div  class="square"><h3>{{channel.title}}</h3>
          http://img.youtube.com/vi/{{channel.youtubeID}}/0.jpg
          <img src="http://img.youtube.com/vi/{{channel.youtubeID}}/0.jpg">
        </div></a>
        
      </div>
    </div>
    </div>